@import "variables";
@media (max-width: 425px) {
  .card{
    max-width: 327px;
    min-width: 327px;
    height: 512px;

    .image-box{
      width: 100%;
      height: 216px ;
      border-radius: 10px 10px 0 0;
      background-size: 100% auto;
    }

    .text-box {
      top: 216px;
      right: 0;
      left: 0;
      bottom: 0;
      padding-bottom:0;

      .title{
        font-size: $font-m-mobile;
        line-height: 149.1%;
      }
      .preview-text{
        line-height: 20px;
      }
      .mini-info{
        padding-top: 35px;
      }
    }
  }

  .share-dialog-box{
    width: 100%;
    height: 29px;
    padding-bottom: 22px;
    padding-top: 25px;
    top: 438px;
    left: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    vertical-align: center;
    z-index: 1;

  }
  .detail-dialog-box{ display: none}
}
