//Colors
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

//Typography
$font-m: 1.25em;
$font-s: 0.8125em;
$font-m-mobile: 1em;
