* {
  margin: 0;
}
body{
  background-color: $lightGrayishBlue;
  font-family: 'Manrope', sans-serif;
}
h1{
  margin: 0;
  font-size: $font-m;
  font-weight: 700;
}
p{
  margin: 0;
  font-size: $font-s;
  font-weight: 500;
}


.center-card{

}

.attribution{
  text-align: center;
  font-size: $font-s;
  color: $grayishBlue;
  margin: auto;

  a{
    text-decoration: none;
    color: $veryDarkGrayishBlue;
  }
}
